/**
 * Site header
 */
#site-header {
    border-top: 4px solid $steel-color-dark;
    border-bottom: 2px solid $steel-color-light;
    min-height: 118px;
	background-color: $steel-color;
	background: -moz-linear-gradient($steel-color-mid, $steel-color);
	background: -webkit-linear-gradient($steel-color-mid, $steel-color);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$steel-color', endColorstr='$steel-color-dark')";

    position: fixed;
	width: 100%;
    text-align: center;
	color: $steel-color-dark;
	
    &,
    &:visited {
        color: $steel-color-dark;
		text-decoration: none;
    }
}

.site-title {
    font-size: 36px;
    line-height: 76px;
    letter-spacing: 1px;
	text-transform: uppercase;
    margin-bottom: 0;
	
}

/**
 * Site footer
 */
#site-footer {
    border-top: 1px solid $steel-color;
    padding: $spacing-unit 0 0 0;

    &,
    &:visited {
        color: $steel-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-wrapper {
    font-size: 15px;
    color: $steel-color-dark;
    margin-left: -$spacing-unit / 2;
    margin-top: -5;
    text-align: center;
    padding-left: $spacing-unit / 2;
}

/**
 * Link bar
 */
.linkbar a {
    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
        margin-left: 20px;
    }
	
}

/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit * 5) 0;
    background-color: $background-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $steel-color;
}

.post-link {
    display: block;
    font-size: 24px;
	font-family: $title-font-family;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
	font-family: $title-font-family;
}

.post-title {
    font-size: 42px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
	
}
